nav {
  background-color: #001429;
  height: 3em;
}
nav a {
  margin: 0 2%;
}
nav a,
nav a:hover,
nav a:active,
nav a:focus {
  color: white;
  text-decoration: none;
}
nav li:hover {
  background-color: #6198BF;
}
nav li {
  font-size: 2em;
}
