@fontColor: #B0D1F1;

nav {
	background-color: #001429;
	height: 3em;
	a {
		margin: 0 2%;
	}
	a, a:hover, a:active, a:focus{
		color: @fontColor;
		text-decoration: none;
	}
	li:hover{
		background-color: #6198BF;
	}
	li {
		font-size: 2em;
	}
	.select {
		margin-top: .5%;
		width: 12%;
		color: @fontColor;
		--styled-select-arrow__color: @fontColor;
		--styled-select-placeholder__color: @fontColor;
		--styled-select__color: @fontColor;
		--styled-select__background-color: #1F4973;
		--styled-select-option__background-color--focused: #6198BF;
		--styled-select-option__background-color--selected: #6198BF;
		--styled-select-no-results__color: @fontColor;
		--styled-select-option__color: @fontColor;
		--styled-select-option__color--focused: @fontColor;
	    --styled-select-option__color--selected: @fontColor;
	    --styled-select-clear__font-size: 14px;;
	}
}