.Player .container {
  margin: 0 auto;
}
.Player .flex {
  display: flex;
  justify-content: center;
}
.Player .btn {
  color: #B0D1F1;
  background-color: #1F4973;
  margin: 2px auto;
}
.Player .card {
  width: 15%;
  margin: 1%;
  height: 140px;
}
