#playerPic {
	width: 100vw;
	height: 50vh;
}
@fontColor: #B0D1F1;
.Roster {
	a {
		font-size: 2em;
		margin: 0 2%;
		text-align: center;
	}
	a, a:active, a:focus{
		color: @fontColor;
		text-decoration: none;
	}
	a:hover {
		color: #001429;
	}
}