#playerPic {
  width: 100vw;
  height: 50vh;
}
.Roster a {
  font-size: 2em;
  margin: 0 2%;
  text-align: center;
}
.Roster a,
.Roster a:active,
.Roster a:focus {
  color: #B0D1F1;
  text-decoration: none;
}
.Roster a:hover {
  color: #001429;
}
